In [1]:
import pandas as pd
#panel datas 약자

In [3]:
dict_data = {'a':1, 'b':2, 'c':3}
sr = pd.Series(dict_data)

In [4]:
print(type(dict_data))
print(type(sr))

<class 'dict'>
<class 'pandas.core.series.Series'>

In [5]:
print(sr)

a    1
b    2
c    3
dtype: int64

In [6]:
list_data = ['2018-01-01', 3.14, 'abc', 100, True]
sr_lis = pd.Series(list_data)

In [7]:
print(sr_lis)

0    2018-01-01
1          3.14
2           abc
3           100
4          True
dtype: object

In [8]:
idx = sr_lis.index 
val = sr_lis.values

In [9]:
print(idx)

RangeIndex(start=0, stop=5, step=1)

In [13]:
print(val)

['2018-01-01' 3.14 'abc' 100 True]

In [14]:
tup_data = ('영인', '2010-05-01', '여', True)
sr_tup = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])

In [15]:
print(sr_tup)

이름              영인
생년월일    2010-05-01
성별               여
학생여부          True
dtype: object

In [16]:
# 원소를 1개 선택하는 2가지 방식
print(sr_tup[0]) # sr의 1번째 원소를 선택(정수형 위치 인덱스를 활용)
print(sr_tup['이름']) #'이름'라벨을 가진 원소를 선택(인덱스 이름을 활용)

영인
영인

In [19]:
#여러개 원소 선택하는 2가지 방식
print(sr_tup[[1, 2]])
print(sr_tup[['생년월일', '성별']])

생년월일    2010-05-01
성별               여
dtype: object
생년월일    2010-05-01
성별               여
dtype: object

# 시리즈 생성 실습

In [20]:
# 9904312, 3448737, 2890451, 2466052
# 서울     부산      인천     대구

In [21]:
# 1. 시리즈 만들기
# 2. 인덱싱 부산 2가지 방식
# 3. 부산과 대구 인덱싱 2가지 방식

In [22]:
sr = pd.Series([9904312, 3448737, 2890451, 2466052], 
               index=['서울', '부산', '인천', '대구'])
print(sr)
print(sr[1], sr['부산'])
print(sr[[1,3]], sr[['서울', '부산']])

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64
3448737 3448737
부산    3448737
대구    2466052
dtype: int64 서울    9904312
부산    3448737
dtype: int64

In [23]:
for key, value in sr.items():
    print(f'key는{key}이고 value는 {value}다')

key는서울이고 value는 9904312다
key는부산이고 value는 3448737다
key는인천이고 value는 2890451다
key는대구이고 value는 2466052다

In [25]:
# 시리즈는 넘파이 1차원 배열로 변환된다.
sr/1000000

서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
dtype: float64

In [26]:
# 딕셔너리는 아래와 같은 연산이 안됨
dict_sr = {'서울':999999, '부산':333333}
dict_sr/1000

TypeError: unsupported operand type(s) for /: 'dict' and 'int'

In [33]:
sr2 = pd.Series({'서울':9631482, '부산':3393191, '인천':2632035,
                '대전':1490158})
sr = pd.Series([9904312, 3448737, 2890451, 2466052], 
               index=['서울', '부산', '인천', '대구'])
#인덱스 값이 다른 데이터는 연산이 되지만 잘안됨
# 연산이 안되는것의 결과는 NaN(Not a Number, 결측치)
# np.nan 데이터 타입은 실수 float
ds = sr - sr2
print(ds)

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

In [29]:
sr.index, sr.values

(Index(['서울', '부산', '인천', '대구'], dtype='object'),
 array([9904312, 3448737, 2890451, 2466052], dtype=int64))

In [30]:
# 엘러먼트의 개수를 세는 method
sr.count()

4

In [31]:
sr2.count()

4

In [34]:
ds.count() #nan은 갯수로 치지 않는다

3

In [35]:
# 카테고리의 값 세는 method
sr.value_counts()

9904312    1
3448737    1
2890451    1
2466052    1
dtype: int64

In [36]:
# 값을세는 method 예시
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
     ---------------------------------------- 0.0/293.3 kB ? eta -:--:--
     ------------------------------------- 293.3/293.3 kB 17.7 MB/s eta 0:00:00
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\python38\lib\site-packages (from seaborn) (1.24.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\python38\lib\site-packages (from seaborn) (3.7.1)
Requirement already satisfied: pandas>=0.25 in c:\python38\lib\site-packages (from seaborn) (1.5.3)
Requirement already satisfied: fonttools>=4.22.0 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.0)
Requirement already satisfied: importlib-resources>=3.2.0 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (5.12.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: cycler>=0.10 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.0)
Requirement already satisfied: pillow>=6.2.0 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: python-dateutil>=2.7 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\python38\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in c:\python38\lib\site-packages (from pandas>=0.25->seaborn) (2022.7.1)
Requirement already satisfied: zipp>=3.1.0 in c:\python38\lib\site-packages (from importlib-resources>=3.2.0->matplotlib!=3.6.1,>=3.1->seaborn) (3.15.0)
Requirement already satisfied: six>=1.5 in c:\python38\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.2

In [37]:
import seaborn as sns
iris = sns.load_dataset('iris')
print(iris)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [41]:
# 카테고리형 자료의 종류의 갯수를 알려주는  메소드
iris['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [40]:
iris['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [43]:
# 인구데이터의 전체 합과 평균
sr.sum(), sr.mean()

(18709552, 4677388.0)

In [47]:
# 정렬메소드
sr.sort_values() #default는 ascending=True 오름차순

대구    2466052
인천    2890451
부산    3448737
서울    9904312
dtype: int64