In [1]:
from sklearn import preprocessing
#전처리를 위한 encoder객체 만들기
label_encoder = preprocessing.LabelEncoder()
onehot_encoder = preprocessing.OneHotEncoder()

In [5]:
import seaborn as sns
import pandas as pd
import numpy as np

In [8]:
df = sns.load_dataset('mpg')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [10]:
df['horsepower'].replace('?', np.nan, inplace=True)
# print(df.isnull().sum())
df.dropna(subset=['horsepower'], axis=0, inplace=True)
# print(df.isnull().sum())
# df.info()로 확인후 ['horsepower']데이터 타입을  float64
df['horsepower'] = df['horsepower'].astype('float')

In [11]:
count, bin_dividers = np.histogram(df['horsepower'], bins=3)
print(bin_dividers)

[ 46.         107.33333333 168.66666667 230.        ]

In [12]:
# 3개의 bins에 이름지정
bin_name = ['저출력', '보통출력', '고출력']

In [13]:
#cut 함수로 각데이터를 3개의 bin에 할당
df['hp_bin'] = pd.cut(x=df['horsepower'],
                     bins=bin_dividers, #경계값 리스트
                     labels=bin_name,   #해당구간 이름
                     include_lowest=True) # 첫 경계값을 포함
print(df[['horsepower', 'hp_bin']].head(10))

   horsepower hp_bin
0       130.0   보통출력
1       165.0   보통출력
2       150.0   보통출력
3       150.0   보통출력
4       140.0   보통출력
5       198.0    고출력
6       220.0    고출력
7       215.0    고출력
8       225.0    고출력
9       190.0    고출력

In [17]:
#label encoder로 문자열 범주를 숫자형 범주로 변환
onehot_labeled = label_encoder.fit_transform(df['hp_bin'].head(15))
print(onehot_labeled)
print(type(onehot_labeled))

[1 1 1 1 1 0 0 0 0 0 0 1 1 0 2]
<class 'numpy.ndarray'>

In [18]:
#2차원 행렬형태
onehot_reshped = onehot_labeled.reshape(len(onehot_labeled), 1)
print(onehot_reshped)
print(type(onehot_reshped))

[[1]
 [1]
 [1]
 [1]
 [1]
 [0]
 [0]
 [0]
 [0]
 [0]
 [0]
 [1]
 [1]
 [0]
 [2]]
<class 'numpy.ndarray'>

In [22]:
#희소행렬로 변환
onehot_fitted = onehot_encoder.fit_transform(onehot_reshped)
print(onehot_fitted)
# print(type(onehot_fitted))

  (0, 1)	1.0
  (1, 1)	1.0
  (2, 1)	1.0
  (3, 1)	1.0
  (4, 1)	1.0
  (5, 0)	1.0
  (6, 0)	1.0
  (7, 0)	1.0
  (8, 0)	1.0
  (9, 0)	1.0
  (10, 0)	1.0
  (11, 1)	1.0
  (12, 1)	1.0
  (13, 0)	1.0
  (14, 2)	1.0