In [37]:
import numpy as np
import pandas as pd
from glob import glob
from tqdm.notebook import tqdm

# 커피지수 part_1

In [38]:
# 1.데이터로부터 4개 커피숍 정보 추출
data_dir = './data1/소상공인'
df = pd.read_csv(f'{data_dir}/소상공인시장진흥공단_상가(상권)정보_서울_202112.csv')

In [39]:
# 업종중분류코드 : Q12 --> 카페/커피샵
df = df[df.상권업종중분류코드 == 'Q12']

In [40]:
df = df[['상호명', '지점명', '시도명', '시군구명']]
print(df.shape)
df.head(3)

(18628, 4)

       상호명          지점명    시도명 시군구명
23     커피빈  코리아대학로대명거리점  서울특별시  종로구
99   요거프레소          쌍문점  서울특별시  도봉구
191  우성커피숍          NaN  서울특별시  양천구

In [46]:
# 스타벅스 커피숍 case=False: 대소문자무시하고 찾기
sb = df[df.상호명.str.contains('스타벅스|STARBUCKS', case=False)]
print(len(sb))
sb.head(3)

467

              상호명      지점명    시도명 시군구명
1544         스타벅스   동숭로아트점  서울특별시  종로구
2474  스타벅스남부터미널2점  남부터미널2점  서울특별시  서초구
2570         스타벅스    현대목동점  서울특별시  양천구

In [42]:
# 지점명중 스타벅스지점명이 없는 데이터 검색
df[df.지점명.str.contains('스타벅스|STARBUCKS', case=False, 
                          na=False)]

Empty DataFrame
Columns: [상호명, 지점명, 시도명, 시군구명]
Index: []

In [49]:
# 커피빈 이디야 빽다방의 한/영문 같이검색 cb, ed, bd
cb= df[df.상호명.str.contains('커피빈|COFFEEBEAN', case=False)]
print(len(cb))

148

In [53]:
ed = df[df.상호명.str.contains('이디야|EDIYA', case=False)]
print(len(ed))
ed.head(3)

416

             상호명    지점명    시도명  시군구명
1131       이디야커피   신길역점  서울특별시  영등포구
1495       이디야커피   라이프점  서울특별시  영등포구
2397  이디야커피양재AT점  양재AT점  서울특별시   서초구

In [52]:
ed1 = df[df.상호명.str.contains('이디야|ediya', case=False)]
print(len(ed1))
ed.head(3)

416

        상호명   시도명 시군구명
3474  이디야커피  충청북도  음성군
5379  이디야커피  충청북도  단양군
5449  이디야커피  충청북도  진천군

In [12]:
bd = df[df.상호명.str.contains('빽다방|PAIKSCOFFEE', case=False)]
bd.head(3)

               상호명       지점명    시도명 시군구명
7179     빽다방공덕새창로점    공덕새창로점  서울특별시  마포구
7789      빽다방서초우성점     서초우성점  서울특별시  서초구
18660  빽다방중계은행사거리점  중계은행사거리점  서울특별시  노원구

In [13]:
len(sb), len(cb), len(ed), len(bd)

(467, 148, 416, 142)

# 전국 데이터에서 4개 매장 정보 추출

In [31]:
# 빈 데이터 프레임을 만들기
starbucks = pd.DataFrame(columns=['상호명','시도명', '시군구명'])
coffeebean = pd.DataFrame(columns=['상호명','시도명', '시군구명'])
ediya = pd.DataFrame(columns=['상호명','시도명', '시군구명'])
paik = pd.DataFrame(columns=['상호명','시도명', '시군구명'])

In [27]:
# 디렉토리내 데이터파일을 for문으로 전처리 
for file in tqdm(glob(f'{data_dir}/*.csv')):
    df = pd.read_csv(file, low_memory=False)
    df = df[df.상권업종중분류코드 == 'Q12']
    df = df[['상호명', '시도명', '시군구명']]
    sb = df[df.상호명.str.contains('스타벅스|STARBUCKS', case=False)]
    cb = df[df.상호명.str.contains('커피빈|COFFEEBEAN', case=False)]
    ed = df[df.상호명.str.contains('이디야|EDIYA', case=False)]
    bd = df[df.상호명.str.contains('빽다방|PAIKSCOFFEE', case=False)]
    
    starbucks = pd.concat([starbucks, sb])
    coffeebean = pd.concat([coffeebean, cb])
    ediya = pd.concat([ediya, ed])
    paik = pd.concat([paik, bd])

  0%|          | 0/17 [00:00<?, ?it/s]

In [34]:
starbucks.shape, coffeebean.shape, ediya.shape, paik.shape

((1504, 3), (257, 3), (2076, 3), (727, 3))

In [22]:
paik.tail()

       상호명   시도명     시군구명
84222  빽다방  충청북도  청주시 상당구
84244  빽다방  충청북도      진천군
84963  빽다방  충청북도  청주시 흥덕구
85634  빽다방  충청북도  청주시 청원구
85821  빽다방  충청북도      보은군

In [30]:
starbucks.to_csv('./data1/스타벅스.csv', index=False)
coffeebean.to_csv('./data1/커피빈.csv', index=False)
ediya.to_csv('./data1/이디야.csv', index=False)
paik.to_csv('./data1/빽다방.csv', index=False)