# 어느 주유소가 쌀까?

In [1]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import time
import pandas as pd

In [17]:
url = 'https://www.opinet.co.kr/user/main/mainView.do'
driver = webdriver.Chrome()
driver.get(url)
time.sleep(3)

In [16]:
# 팝업창 싼주유소 찾기 클릭
driver.find_element(By.CSS_SELECTOR, '.ic_m1').click()

NoSuchElementException: Message: no such element: Unable to locate element: {"method":"css selector","selector":".ic_m1"}
  (Session info: chrome=111.0.5563.149)
Stacktrace:
Backtrace:
	(No symbol) [0x00B6DCE3]
	(No symbol) [0x00B039D1]
	(No symbol) [0x00A14DA8]
	(No symbol) [0x00A4019F]
	(No symbol) [0x00A403AB]
	(No symbol) [0x00A6EE62]
	(No symbol) [0x00A5AF14]
	(No symbol) [0x00A6D57C]
	(No symbol) [0x00A5ACC6]
	(No symbol) [0x00A36F68]
	(No symbol) [0x00A380CD]
	GetHandleVerifier [0x00DE3832+2506274]
	GetHandleVerifier [0x00E19794+2727300]
	GetHandleVerifier [0x00E1E36C+2746716]
	GetHandleVerifier [0x00C16690+617600]
	(No symbol) [0x00B0C712]
	(No symbol) [0x00B11FF8]
	(No symbol) [0x00B120DB]
	(No symbol) [0x00B1C63B]
	BaseThreadInitThunk [0x774E0099+25]
	RtlGetAppContainerNamedObjectPath [0x77D17B6E+286]
	RtlGetAppContainerNamedObjectPath [0x77D17B3E+238]

In [ ]:
metro = driver.find_element(By.XPATH, '//*[@id="SIDO_NM0"]')
metro.send_keys('서울')
time.sleep(2)

In [4]:
sigungu = driver.find_element(By.XPATH, '//*[@id="SIGUNGU_NM0"]')
gu_list = sigungu.find_elements(By.CSS_SELECTOR, 'option')

In [7]:
gu_name =[]
for gu in gu_list:
    gu_name.append(gu.text)

시/군/구
강남구
강동구
강북구
강서구
관악구
광진구
구로구
금천구
노원구
도봉구
동대문구
동작구
마포구
서대문구
서초구
성동구
성북구
송파구
양천구
영등포구
용산구
은평구
종로구
중구
중랑구

In [8]:
gu_name = [gu.text for gu in gu_list]

In [10]:
del gu_name[0]

In [11]:
gu_name

['강남구',
 '강동구',
 '강북구',
 '강서구',
 '관악구',
 '광진구',
 '구로구',
 '금천구',
 '노원구',
 '도봉구',
 '동대문구',
 '동작구',
 '마포구',
 '서대문구',
 '서초구',
 '성동구',
 '성북구',
 '송파구',
 '양천구',
 '영등포구',
 '용산구',
 '은평구',
 '종로구',
 '중구',
 '중랑구']

In [12]:
#엑셀 저장버튼
driver.find_element(By.XPATH, '//*[@id="glopopd_excel"]/span').click()

In [18]:
#25개 자치구 에 대해서 주유소 정보 엑셀 저장
for gu in gu_name:
    sigungu = driver.find_element(By.XPATH, '//*[@id="SIGUNGU_NM0"]')
    time.sleep(3)
    sigungu.send_keys(gu)
    time.sleep(5)
    driver.find_element(By.XPATH, '//*[@id="glopopd_excel"]/span').click()

In [19]:
driver.close()

# 구별 휘발유 가격에 대한 데이터 정리

In [20]:
import pandas as pd
from glob import glob
import warnings
warnings.filterwarnings('ignore')

In [ ]:
glob(r'C:\workspace\gasData\지역*.xls')

In [23]:
# c:\python\test\naver
print('c:\python\\test\\naver')
print(r'c:\python\test\naver')

c:\python\test\naver
c:\python\test\naver

In [26]:
!pip install xlrd 
# xlrd패키지 설치

Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     ---------------------------------------- 0.0/96.5 kB ? eta -:--:--
     ---------------------------------------- 96.5/96.5 kB ? eta 0:00:00
Installing collected packages: xlrd
Successfully installed xlrd-2.0.1

[notice] A new release of pip is available: 23.0.1 -> 23.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [27]:
file = glob(r'C:\workspace\gasData\지역*.xls')[0]  
df = pd.read_excel(file, header=2)
df.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1623,1565,-
1,서울특별시,자곡셀프주유소,서울 강남구 밤고개로 120 (자곡동),SK에너지,02-445-5841,Y,-,1669,1575,-
2,서울특별시,삼성동주유소,서울 강남구 테헤란로 619 (삼성동),현대오일뱅크,02-508-6572,Y,1929,1684,1609,-
3,서울특별시,방죽주유소,서울 강남구 밤고개로 215 (율현동),GS칼텍스,02-459-3434,Y,-,1687,1639,-
4,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,1886,1704,1669,-

In [28]:
print(glob(r'C:\workspace\gasData\지역*.xls'))

['C:\\workspace\\gasData\\지역_위치별(주유소) (22).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (23).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (24).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (25).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (26).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (27).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (28).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (29).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (30).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (31).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (32).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (33).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (34).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (35).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (36).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (37).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (38).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (39).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (40).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (41).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (42).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (43).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (44).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (45).xls', 'C:\\workspace\\gasData\\지역_위치별(주유소) (46).xls']

In [29]:
df_list=[]
for file in glob(r'C:\workspace\gasData\지역*.xls'):
    gs = pd.read_excel(file, header= 2)
    df_list.append(gs)
df = pd.concat(df_list)
df.shape

(441, 10)

In [30]:
df.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1623,1565,-
1,서울특별시,자곡셀프주유소,서울 강남구 밤고개로 120 (자곡동),SK에너지,02-445-5841,Y,-,1669,1575,-
2,서울특별시,삼성동주유소,서울 강남구 테헤란로 619 (삼성동),현대오일뱅크,02-508-6572,Y,1929,1684,1609,-
3,서울특별시,방죽주유소,서울 강남구 밤고개로 215 (율현동),GS칼텍스,02-459-3434,Y,-,1687,1639,-
4,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,1886,1704,1669,-

In [34]:
df = df[['상호', '주소','휘발유', '셀프여부', '상표']]
# df.head()

In [35]:
df.rename(columns={'휘발유':'가격', '셀프여부':'셀프'}, inplace=True)
df.head()

            상호                       주소    가격 셀프      상표
0  (주)보성 세곡주유소    서울 강남구  헌릉로 731 (세곡동)  1623  Y   SK에너지
1      자곡셀프주유소    서울 강남구 밤고개로 120 (자곡동)  1669  Y   SK에너지
2       삼성동주유소    서울 강남구 테헤란로 619 (삼성동)  1684  Y  현대오일뱅크
3        방죽주유소    서울 강남구 밤고개로 215 (율현동)  1687  Y   GS칼텍스
4     오일프러스 셀프  서울 강남구 남부순환로 2651 (도곡동)  1704  Y   SK에너지

In [36]:
df['구'] = df.주소.str.split().str[1]

In [37]:
df.head()

            상호                       주소    가격 셀프      상표    구
0  (주)보성 세곡주유소    서울 강남구  헌릉로 731 (세곡동)  1623  Y   SK에너지  강남구
1      자곡셀프주유소    서울 강남구 밤고개로 120 (자곡동)  1669  Y   SK에너지  강남구
2       삼성동주유소    서울 강남구 테헤란로 619 (삼성동)  1684  Y  현대오일뱅크  강남구
3        방죽주유소    서울 강남구 밤고개로 215 (율현동)  1687  Y   GS칼텍스  강남구
4     오일프러스 셀프  서울 강남구 남부순환로 2651 (도곡동)  1704  Y   SK에너지  강남구

In [39]:
df['구'].unique()

25

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 12
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      441 non-null    object
 1   주소      441 non-null    object
 2   가격      441 non-null    int64
 3   셀프      441 non-null    object
 4   상표      441 non-null    object
 5   구       441 non-null    object
dtypes: int64(1), object(5)
memory usage: 24.1+ KB

In [41]:
# 가격 '-'
df['가격'].unique()

array([1623, 1669, 1684, 1687, 1704, 1725, 1729, 1739, 1745, 1749, 1754,
       1759, 1769, 1780, 1797, 1898, 1979, 1998, 2018, 2048, 2081, 2180,
       2207, 2228, 2246, 2258, 2270, 2275, 2348, 2578, 1686, 1689, 1696,
       1720, 1738, 1831, 1978, 1629, 1635, 1639, 1659, 1667, 1668, 1707,
       1628, 1643, 1644, 1645, 1656, 1676, 1677, 1680, 1685, 1690, 1693,
       1695, 1698, 1708, 1728, 1737, 1748, 1758, 1895, 1995, 1688, 1756,
       1764, 1789, 1798, 1852, 1654, 1665, 1673, 1675, 1694, 1727, 1649,
       1655, 1697, 1735, 1757, 2198, 1674, 1658, 1715, 1740, 1795, 1647,
       1699, 1767, 1615, 1620, 1653, 1679, 1718, 1790, 1719, 1747, 1799,
       1835, 1637, 1619, 1624, 1633, 1638, 1709, 1594, 1678, 1681, 1701,
       1705, 1706, 1714, 1752, 1768, 1775, 1784, 1785, 1793, 1948, 1989,
       1625, 1746, 1788, 1792, 1962, 1965, 2135, 2148, 1664, 1734, 1884,
       1892, 1657, 1663, 1670, 1682, 1713, 1848, 1595, 1605, 1778, 1779,
       1909, 2075, 2150, 2199, 1999, 2019, 2030, 2039, 2173, 2175, 2237,
       2398, 2749, 1604, 1607, 1609, 1614, 1617, 1627, 2045, 2230, 2240,
       1765, 1828, 1879, 2287, 2509, 2753], dtype=int64)

In [42]:
df = df[df.가격 != '-']

In [43]:
df.가격 = df.가격.astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 12
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   상호      441 non-null    object
 1   주소      441 non-null    object
 2   가격      441 non-null    int32
 3   셀프      441 non-null    object
 4   상표      441 non-null    object
 5   구       441 non-null    object
dtypes: int32(1), object(5)
memory usage: 22.4+ KB

In [44]:
df.to_csv('서울_주유소(230418).csv', index=False)